@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex items-center justify-center;
  }
}

body {
  background: #121212;
}

.history {
  animation: disappear 3s ease-in;
}

@keyframes disappear {
  0% {
    opacity: 1;
    /* transform: rotateX(90deg); */
  }
  50% {
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100% {
    display: none;
    opacity: 0;
    transform: rotateX(-90deg);
  }
}
